*{
  margin: 0;
  padding: 0;
}
h1{
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  text-align: center;
  line-height:5rem;
}
.choice{
  height:165px;
  width:165px;
  border-radius:50% ;
  display: flex;
  justify-content: center;
  align-items: center;

}
.choice:hover{
  cursor: pointer;
  background-color: #081b31;
 
}
img{
  height: 150px;
  width: 150px;
  object-fit:cover;
  border-radius:5rem;
}
.choices{
  margin-top: 5rem;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:3rem;
}
.scoreboard{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-left: 3rem;
  gap:5rem;
}
#user-score,#comp-score{
       font-size: 4rem;
}
#msg{
  background-color: #081b31;
  color:#fff;
  font-size: 2rem;
  padding:1rem;
  border-radius: 1rem;

}
